.navbar-brand.js-scroll-trigger {
  width: 100px;
  height: 69px;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: var(--blue) !important;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: var(--blue) !important;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: var(--blue) !important;
  background-color: transparent;
}

